# caches
.pytest_cache
__pycache__

# build artifacts
build
dist
*.egg-info
*.pyc
*.pyd
*.pyo

# test artifacts
.coverage
coverage.*
htmlcov

# temporary directories
tmp
work

# project data
.vscode
*.ps1